services:
  phpmyadmin:
    image: phpmyadmin:latest
    environment:
      PMA_HOST: '${MYSQL_HOST}'
      MYSQL_ROOT_PASSWORD: '${MYSQL_PASSWORD}'
    volumes:
      - ./.docker/phpmyadmin/sessions:/var/lib/phpmyadmin/sessions
      - ./.docker/phpmyadmin/temp:/var/lib/phpmyadmin/tmp
      - ./.docker/phpmyadmin/php.ini:/usr/local/etc/php/conf.d/uploads.ini:ro
      - ./.docker/phpmyadmin/config.user.inc.php:/etc/phpmyadmin/config.user.inc.php:ro
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=traefik-network"

      - "traefik.http.routers.pma.rule=Host(`${SERVER_HOSTNAME}`)"
      - "traefik.http.routers.pma.entrypoints=websecure"
      - "traefik.http.routers.pma.tls.certresolver=le-cloudflare"
      - "traefik.http.routers.pma.service=pma"

      # Services
      - "traefik.http.services.pma.loadbalancer.server.port=80"
    networks:
      - traefik-network
    restart: unless-stopped


networks:
  traefik-network:
    external: true
